body{
	width: 100%;
	font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

header{
	width:100%;
    height: auto;
	background-color: #FFE600;
	padding: 8px 0;
    position: relative;
}

.nav-content{
    max-width: 1200px;
    width: 90%;
    height: 40px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

.content-logo{

}

.logo {
    width: 53px;
    height: 36px;
    background-image: url('img/Logo_ML.png');   
    display: inline-block;
    position: absolute;
}

.nav-search{
    width: 100%;
    max-width: 600px;
    height: 56px;
    float: right;
    overflow: hidden;
}

.nav-search input{
    width: 90%;
    padding: 12px 12px 12px 12px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    border: 0 rgba(0,0,0,.2);
}

button{
    padding: 0px 0px 0px 0px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    border: 0 rgba(0,0,0,.2);
}

button:before{
    content: '';
    display: block;
    height: 26px;
    border-left: 1px solid #e6e6e6;
    position: absolute;
    top: 6.5px;
}

.icon-search{
    width:18px;
    height:20px;
    font-size: 16px;
    line-height: 21px;
    background-image: url('img/ic_Search.png');
    background-repeat: no-repeat;
}

/* COMIENZO COMPONENTE LIST */

main{
    width: 100%;
    background-color: #eeeeee;
}

.main-content{
    max-width: 1200px;
    margin: 0px auto;
}

.main-inner{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.breadcrumb {
    height: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.breadcrumb ul{
    font-size: 14px;
    margin: 0px;
    padding: 0px
}

.breadcrumb ul li{
    float:left;
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
}

.breadcrumb ul li:first-child{
    padding-left: 0px;
}

.breadcrumb ul li a{
    text-decoration: none;
}

.chevron {
    float: left;
    color: #666;
    margin-left: 2px;
    margin-right: 2px;
}

.chevron:after{
    float: left;
    font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    content: '>';
    font-size: 16px;
}

.item-list-content{
    width: 100%;
    background-color: #ffffff;
    font-size: 0;
}

.item-list {
    padding: 16px 16px 0px 16px;
    list-style-type: none;

}

.line-border{
    border-bottom: 1px solid #eeeeee;
    margin-top: 16px;
}

.item-list-content ul {
    padding: 0px;
    margin: 0px;
}

.item-list-content ul li{

}

.item-img{
    display:inline-block;
    vertical-align: top;
}

.item-list .item-img img{
    width: 180px;
    height:180px;
    -webkit-border-radius: 4px 4px;
    border-radius: 4px 4px;
    margin-right: 16px;
}

.item-info{
    width: 60%;
    height:auto;
    display:inline-block;
    vertical-align: top;
    font-size: 24px;
    padding-top: 25px;
}

.info{
    width: 75%;
}

.item-price{
    display:inline-block;
    vertical-align: top;
}

.item_shipping{
    display:inline-block;
    vertical-align: top;
}

.info h2{
    font-size: 18px;
}

.item-dir{
    width: 20%;
    height:auto;
    display:inline-block;
    vertical-align: top;
    font-size: 12px;
    padding-top: 30px;
}


